/*Edgar Alejandro Jarquin Flores*/

.cntdr{
    width: 70%;
    display: flex;
    margin: auto auto;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.cntdr_secundario{
    flex: 1;
}


.cntdr_izquierdo{
    width: 23%;
    height: auto;
    background-color:steelblue;
}

.mifoto {
    border-radius: 30% 40%;
    padding: 4em;
    height: 204px;
    width: 182px;
    display: flex;
    margin: 0 auto;

}

.mifoto_img {
   border-radius: 50%;
   height: 100%;
   width: 100%;
   
}

.titulo{
    color: rgb(197, 235, 241);
    text-align: center;
    font: oblique;
    font-size: small;
    letter-spacing: .2cm;
}

.nombre{
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 1.5px solid #fff; 
}

.contacto{
 color:rgb(203, 228, 227);
 padding: 1em;
 text-align: center;
 font: oblique;
 font-size: medium;


}

.textalternativo{
 color: steelblue;
 padding-left: 2em;
 font-size: medium;
 font: 1em sans-serif;
}

.textdescr{
    padding-left: 2em;
}